@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
  }
  
  
  body {
    background-color: #22254b;
    color:white;
    font-family: "Poppins",sans-serif;
    margin: 5px;
}
  
  .root {
    display: flex;
    flex-direction: column;
  }
  
  .tvshow-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.tvshow {
    background-color: #373b69;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    overflow: hidden;
    position: relative;
    margin: 2rem;
    max-width: 345px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
  }
  
  .tvshow:hover {
    transform: scale(1.05) translateY(-5px);
    transition: 0.5s;
  }
  .tvshow img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
  }

  @media (max-width:360px) {
    .tvshow img {
      width: 100%;
    }
  }

  .title-tvshow {
    max-width:50%;
  }

  .tvshow-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .tvshow-info h3 {
    margin: 0;
  }
  
  .tvshow-over {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
    color: #22254b;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.4s ease-in-out;

  }
  
  .tvshow:hover .tvshow-over {
    transform: translateY(0%);
  }
  
  .tag {
    background-color: #22254b;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
  }
  
  .tag.green {
    color: rgb(10, 206, 10);
  }
  .tag.orange {
    color: orange;
  }
  .tag.red {
    color: red;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #9c9595;
  }

  .tvshow_details {
    background-color: #373b69;
    border-radius: 5px;
    box-shadow: 3px 3px 50px rgba(0,0,0,0.8);
    overflow: hidden;
    position: relative;
    margin: 5% 10%  10%; 
    height:fit-content;
  }
  .tvshow_details img {
    margin: 5% 0% 0% 5%;
    width: 800px;
    height: 500px;
  }
  @media (max-width:1280px) {
    .tvshow_details img {
      width: 90%;
    }
  }
  .title_details {
    max-width:70%;
    margin:5% 10%;
  }

  .tvshow_details-info {
    display: flex;
    align-items: center;
    padding: 2% 0% 0% 5%;
  }
  
  .tvshow_details-info h3 {
    margin: 0;
  }

  .tvshow_details-over {
    padding: 2% 6% 0% 5%;
  }
  .back-button  {
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border: 1px solid #373b69;
    background-color: rgb(221, 185, 139);
    color: #373b69;
    width: 120px;
    height: 40px;
    cursor: pointer;
}
.back-button:focus {
  background-color: #373b69;
  color: rgb(221, 185, 139);
  background: #373b69;
  outline-width: 0;
}
.back-button {
  margin-top: 3.5%;
  margin-right: 70%;
  margin-bottom: -4%;
}

@media (max-width: 320px) {
  .back-button {
    width: 50%;
  }
}

.videos-show {
  margin: 5% 0% 0% 12%;
}

@media (max-width: 1280px) {
  .videos-show {
    width: 80%;
  }
}

